body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  overflow-y: hidden;
}

.formContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.formContainer form {
  background-color: #f8ecec;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #efefef;
  box-shadow: 10px 4px 16px 4px #777777;
  border-radius: 18px;;
}

.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField input {
  border: 1px solid gray;
  padding:  20px;
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

button {
  width: 100%;
  background-color: rgba(35, 35, 242, 0.727); 
  border-radius: 5px;
  border: none;
  padding: 20px 30px;
  color: #efefef;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: rgba(26, 26, 175, 0.727);
}

.errorMessage {
  color: red;
  margin: 0;
  align-self: flex-start;
}

.messageSuccess {
  color: green;
  margin-top: 15px;
}